# Python
__pycache__/
*.pyc

# Project Data (QUAN TRỌNG: Không commit data)
data/
*.csv

# Environment
.env
venv/
.idea/

# Logs (QUAN TRỌNG: Thêm cái này)
*.log
ingestion.log
dev_log/

# Docker & Infrastructure (THÊM CÁI NÀY)
.DS_Store
**/.DS_Store
docker-compose.override.yml
postgres_data/
minio_data/
kafka_data/
zookeeper_data/